<div class="card tweet-card">
  <div class="card-body">
    <div class="tweet-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <span class="user-initial d-flex align-items-center justify-content-center mr-3"><%= tweet.user_initial %></span>

        <div class="d-flex flex-column">
          <span class="user-full-name"><%= tweet.user_full_name %></span>
          <small class="text-muted"><%= creation_timestamp(tweet) %></small>
        </div>
      </div>

      <% if tweet.own_tweet?(current_user) %>
        <div class="d-flex action-buttons">
          <%= link_to "Edit", edit_tweet_path(tweet), class: "btn edit-btn", title: "Edit tweet" %>
          <%= link_to "Delete", tweet_path(tweet), method: :delete, class: "btn delete-btn", title: "Delete tweet", data: { confirm: "Are you sure you want to delete this tweet?" } %>
        </div>
      <% end %>
    </div>

    <p class="mb-0"><%= tweet.message %></p>

    <div class="d-flex align-items-center justify-content-between mt-3">
      <%= link_to "#", class: "tweet-link d-flex align-items-center justify-content-center", title: "Retweet" do %>
         <%= image_tag("repeat.svg") %>
      <% end %>

      <%= link_to tweet_path(tweet), class: "tweet-link d-flex align-items-center justify-content-center", title: "Show comments" do %>
         <span><%= comments_count %></span> <%= image_tag("message-square.svg") %>
      <% end %>
    </div>
  </div>
</div>
